/* css file */
.navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #B2A4FF;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 50px;
}

ul.navBar > li > a {
    color:black;
    display: block;
    float: right;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.navBar > li > a:hover {
    color:white;
    background-color: #9080ea;
    display: block;
    float: right;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.mainText {
    padding: 40px 20px 40px 20px;
    height: 80px;
    background-color: #FFB4B4;
    overflow: scroll;
    border-radius: 8px;
}

#aboutText {
    height: 115px;
}

#successText {
    height: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#paymentSuccessText {
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#retrievePrompt {
    height: 30px;
    padding: 15px 15px 15px 15px;
}

#userForm, #addressForm, #getDetailsForm, #paymentForm {
    padding: 40px 20px 20px 20px;
}

#content {
    padding-top: 50px;
    padding-bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: fit-content;
    text-align: justify;
}

#notFoundText {
    height: 130px;
    text-align: center;
}

#successButtons, #retrieveButtons {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}

#successButtons button, #retrieveButtons button {
    margin-right: 50px;
    margin-left: 50px;
    padding: 20px 50px 20px 50px;
}

#successButtons button:hover, #retrieveButtons button:hover {
    margin-right: 50px;
    margin-left: 50px;
    padding: 20px 50px 20px 50px;
}

#contactTable {
	background-color: #FFF9CA;
	color: black;
    border-collapse: collapse;
    min-width: fit-content;
    display: inline-block;
    border:none;
}

#contactTable tr:nth-child(odd) {
    background-color: #FFDEB4;
    color: #000000;
}

#contactTable td {
	height: 25px;
	text-align: left;
    width: 60px;
    padding: 20px 20px 20px 20px;
}

#contactTable th {
    background-color: #FFB4B4;
    color: black;
}

#contactTable tr:last-child {
    background-color: #FFB4B4;
    color: black;
}

#contactTable tr:last-child #next_address, #confirmation, #retrieve, #payment, #reset {
    display: block;
    margin:auto;
}

#next_address, #confirmation, #retrieve, #payment, #return, #register, #reenter, #home, #reset{
    background-color: #B2A4FF;
    color: black;
    border-radius: 8px;
    padding: 10px 10px 10px 10px;
    border: 2px solid #9080ea;
}

#next_address:hover, #confirmation:hover, #retrieve:hover, #payment:hover, #return:hover, #register:hover, #reenter:hover, #home:hover, #reset:hover {
    background-color: #9080ea;
    color: white;
    border-radius: 8px;
    padding: 10px 10px 10px 10px;
    border: 2px solid  #B2A4FF;
}

#footer {
    width: 100%;
    height: 20px;
    color:white;
    background-color: black;
    margin-top: -20px;
    padding: 5px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
}

#photos {
    display: flex;
    justify-content: space-between;
}

a {
    color:blue;
}

.indexPhotos {
    width: auto;
    height: 260px;
    margin: 25px 20px 0px 20px;
}

body {
	font-family: 'Open Sans';
    background-color: #ffdfb467;
}
