/* css file */
.navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(58, 47, 47);
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 50px;
}

ul.navBar > li > a {
    color:rgba(255, 255, 255, 0.962);
    display: block;
    float: right;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.navBar > li > a:hover {
    color:white;
    background-color: black;
    display: block;
    float: right;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#userForm {
    padding: 20px 20px 20px 20px;
}

#content {
    padding-top: 50px;
    padding-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: fit-content;
}

#contactTable {
	background-color: black;
	color: white;
    border-collapse: collapse;
    min-width: fit-content;
    display: inline-block;
}

#contactTable tr:nth-child(odd) {
    background-color: #FFD700;
    color: #000000;
}



#contactTable td {
	height: 25px;
	text-align: left;
    width: 60px;
    padding: 20px 20px 20px 20px;
}

#contactTable th {
    background-color: navy;
    color: white;
	border: thin solid white;
}

#contactTable tr:last-child {
    background-color: navy;
	border: thin solid white;
}

#contactTable tr:last-child #next_address, #confirmation {
    display: block;
    margin:auto;
}

#next_address, #confirmation {
    background-color: black;
    color: white;
    border-radius: 8px;
    padding: 10px 10px 10px 10px;
}

#age, #newdate { border: none; }

#footer {
    width: 100%;
    height: 20px;
    color:white;
    background-color: black;
    margin-top: -20px;
    padding: 5px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
}

body {
	font-family: 'Open Sans';
}
